footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding-bottom: 30px;
}
footer .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  footer .container {
    width: 100%;
  }
}
@media (max-width: 860px) {
  footer .container {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 860px) {
  footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 580px) {
  .footer_pizza {
    width: 100%;
  }
}
.footer_pizza ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: SFProText;
  font-weight: 400;
}
.footer_pizza ul li {
  padding-top: 10px;
  list-style-type: none;
}
.footer_pizza ul li a {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
  transition: 0.3s;
}
.footer_pizza ul li a:hover {
  border: 1px solid #FF7010;
  border-radius: 6px;
}
@media (max-width: 860px) {
  .footer_pizza {
    width: 40%;
    margin-bottom: 30px;
  }
}

.title_footer {
  font-size: 16px;
  font-family: SFProText;
  font-weight: bold;
  display: flex;
  justify-content: start;
}

@media (max-width: 580px) {
  .our {
    width: 100%;
  }
}
.our ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our ul li {
  padding-top: 10px;
  list-style-type: none;
}
.our ul li a {
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
}
.our ul li a:hover {
  border: 1px solid #FF7010;
  border-radius: 6px;
}
@media (max-width: 860px) {
  .our {
    width: 40%;
    margin-bottom: 30px;
  }
}

@media (max-width: 580px) {
  .help {
    width: 100%;
  }
}
.help ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.help ul li {
  padding-top: 10px;
  list-style-type: none;
}
.help ul li a {
  cursor: pointer;
  font-family: SFProText;
  font-weight: 400;
  border: 1px solid transparent;
  transition: 0.3s;
}
.help ul li a:hover {
  border: 1px solid #FF7010;
  border-radius: 6px;
}
@media (max-width: 860px) {
  .help {
    width: 40%;
  }
}

.contact_pizza {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 580px) {
  .contact_pizza {
    width: 100%;
  }
}
.contact_pizza ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact_pizza ul li {
  padding-top: 10px;
  list-style-type: none;
}
.contact_pizza ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  font-family: SFProText;
  font-weight: 400;
  border: 1px solid transparent;
  transition: 0.3s;
}
.contact_pizza ul li a:hover {
  border: 1px solid #FF7010;
  border-radius: 6px;
}
@media (max-width: 860px) {
  .contact_pizza {
    width: 40%;
  }
}

.box_social {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 490px) {
  .box_social {
    display: flex;
    flex-direction: column;
  }
}
.box_social ul {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
}
.box_social ul a {
  padding-right: 10px;
  font-family: SFProText;
  font-weight: 400;
}
.box_social ul a img {
  padding-right: 10px;
}

.adress_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  font-family: SFProText;
  font-weight: 400;
}
a img {
  padding-right: 10px;
}

address {
  font-family: SFProText;
  font-weight: 400;
}
address img {
  padding-right: 10px;
}/*# sourceMappingURL=footer.css.map */